* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}

.page {
    width: 1400px;
    margin: auto;
}

.header {
    display: flex;
    width: 1140px;
    height: 62px;
    margin: auto;
}

.top-section {
    background-color: #F3C6BD;
    padding-top: 39px;
}

.header__button {
    background-color: #3030C4;
    color: #fff;
    width: 160px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
}

.navigation {
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
}

.nav__item {
    color: #28292D;
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;
    margin-right: 50px;
}

.nav__item__arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 11px;
    background-image: url(img/Arrow.png);
}

.nav__item__selected {
    font-weight: 700;
}

.nav__item:last-child {
    margin-right: 0px;
}

.logo__image {
    margin-right: 15px;
    width: 60px;
    height: 60px;
}

.logo__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.logo__description {
    font-size: 18px;
    line-height: 25px;
    color: #28292D;
    opacity: 0.6;
}

.logo {
    display: flex;
}

.logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}