 body {
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
 }
 
 header {
     margin: auto;
 }
 
 .article {
     margin: 8px;
     padding: 16px;
     background-color: bisque;
     flex: 300px 1 0;
 }
 
 .articles-list {
     display: flex;
     flex-wrap: wrap;
 }